@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body{
  background-color: #DBC7FF;
}
.um, .tres{
  font-family: 'Bad Script', cursive;
  line-height: 0em;
}
.dois, .quatro{
  font-family: 'Cardo', serif;
  line-height: 0em;
}
.um{
  position: relative;
  font-size: 40px;
  left: 200px;
  top: 100px;
}
.dois{
  position: relative;
  font-size: 90px;
  left: 300px;
}
.tres{
  position: relative;
  font-size: 60px;
  left: 425px;
}
.quatro{
  position: relative;
  font-size: 90px;
  left: 650px;
  bottom: 60px;
}