@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image:linear-gradient(to right, #F5AF5B, #F58A0B);
}
main{
    background-color: #FFF5E4;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #7e6654;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #95BFA4;
    text-align: center;
    text-shadow: 1px 1px 2px #668370;
}
h2{
    color: #F2889B;
}
p{
    text-align: justify;
}