@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

.container{
    margin: 0 auto;
    width: 960px;
}
body{
    background: linear-gradient(to left, #00A388, #79BD8F, #BEEB9F);
    line-height: 1.6;
}
.um, .dois, .tres{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px #00A388;
    border-radius: 0.7em;
    border: 1px solid #808080;
    margin-bottom: 20px;
    padding: 10px;
}
h1{
    font-family: 'Dancing Script', cursive;
    color: black;
    text-shadow: 2px 2px 3px #00A388;
}
h2{
    border-bottom: 1px dashed #808080;
    margin: 0;
    font-family: 'Cinzel', cursive;
    color: #EE302F;
    font-weight: 500;
}
p{
    font-family: "Gill sans";
}
h3{
    font-family: 'Cinzel', cursive;
    margin: 0;
}
a:link{
    text-decoration: none;
}